body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    height: 100vh;
    background-color: rgb(70, 88, 122);
}

.container{
    text-align: center;
    background-color: rgb(57, 83, 112);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

form{
    margin-bottom: 20px;
}

.oculto{
    display: none;
}

label{
    color: white;
}